---
import { SITE_TITLE, COPYRIGHT_START_YEAR } from "../consts";
import { Icon } from "astro-icon/components";
const currentYear = new Date().getFullYear();
const copyrightYears =
	COPYRIGHT_START_YEAR === currentYear
		? `${COPYRIGHT_START_YEAR}`
		: `${COPYRIGHT_START_YEAR} – ${currentYear}`;
---

<footer>
	&copy; {copyrightYears}
	{SITE_TITLE}. All rights reserved.
	<div class="social-links">
		<a
			href="https://www.linkedin.com/in/trevor-lauder"
			target="_blank"
			rel="noopener noreferrer"
		>
			<span class="sr-only">Connect with Trevor on LinkedIn</span>
			<Icon name="fa7-brands:linkedin" width="32" height="32" />
		</a>
		<a
			href="https://github.com/trevorlauder"
			target="_blank"
			rel="noopener noreferrer"
		>
			<span class="sr-only">Go to Trevor's GitHub repo</span>
			<Icon name="fa7-brands:github" width="32" height="32" />
		</a>
	</div>
</footer>
