---
import { Icon } from "astro-icon/components";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Comments from '../components/Comments.astro'

const {
  title,
  description,
  updatedDate,
  date,
  Content,
  ogImage,
} = Astro.props;
---

<html lang="en" class={Astro.props.class}>
  <head>
    <BaseHead title={title} description={description} image={ogImage} />
  </head>
  <body class="theme-background-dark min-h-screen">
    <Header />
    <main>
      <article>
        <div class="w-full max-w-5xl mx-auto">
          <div class="prose dark:prose-invert max-w-none mx-auto p-4">
            <div class="text-center mb-8">
              <div class="text-sm mb-2">
                <FormattedDate date={date ?? new Date()} />
                {
                  updatedDate && (
                    <span class="italic ml-2">
                      Last updated on <FormattedDate date={updatedDate} />
                    </span>
                  )
                }
              </div>
              <h1>{title}</h1>
              <hr class="index-hr-top" />
            </div>
            <Content components={{ Icon }} />
            <Comments/>
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
